@font-face {
    font-family: 'pt_sansregular';
    src: url('pt_sans-web-regular-webfont.eot');
    src: url('pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	src: url(./fonts/PT_Sans-Web-Regular.ttf);
	font-weight: normal;
}

html {
	font-family: 'pt_sansregular', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    background-color: lightgray;
}

body {
    height: 100%;
    margin: 0;
}

a {
    padding: 0%;
    transition: padding 2s;
}

a:hover {
    background-color: lightblue;
    padding: 1%;
}

input[type=submit] {
    padding: 0%;
    transition: padding 2s
}

input[type=submit]:hover {
    cursor: wait;
    padding: 1%;
}

.homebackground {
    background-image: url("IMG_20170902_172047 (1).jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.interestsbackground {
    background-image: url("IMG_20180303_141754895.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 1%;
}

header {
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: left;
}

h1 {
    font-size: 4em;
    background-color: lightblue;
}

h2 {
    font-size: 3em;
    background-color: steelblue;
}

h3 {
    font-size: 2em;
    color: teal;
}

footer {
    background-color: black;
    color: white;
    padding: 1%;
    text-align: left;
}