@font-face {
    font-family: 'pt_sansregular';
    src: url('pt_sans-web-regular-webfont.eot');
    src: url('pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
	font-style: normal;
	src: url(./fonts/PT_Sans-Web-Regular.ttf);
	font-weight: normal;
}

html {
	font-family: 'pt_sansregular', sans-serif;
	width: 100%;
	background: darkred;
	color: red;
}

header {
	background: red;
	text-align: center;
	padding: 1%;
	color: darkred;
}

h1 {
	font-size: 4em;
	padding: 10px;
}

form {
	text-align: center;
}

input { 
	width: 50%;
	outline: none;
	background-color: darkred;
	color: red;
	border: none;

    border-bottom: 2px dotted red;

}

::placeholder {
	color: red;
}

input[type=submit] {
	border: dotted;
	border-color: red;
	color: red;
	border-radius: 5%;
}

input[type=submit]:hover {
	cursor: wait;
}

textarea {
	resize: none;
	outline: none;
	border: dotted;
	border-color: red;
	background-color: darkred;
	color: red;
	border-radius: 5%;

}

select {
	outline: none;
	border: dotted;
	border-color: red;
	border-radius: 5%;
	background-color: darkred;
	color: red;
	padding: 1%;
}

.text {

}

#radiotext {
	justify-content: center;
	align-content: center;
	position: relative;
	left: 50%;;
}

.radio {
	padding: 1%;
	justify-content: center;
	text-align: justify;
	align-content: center;
	width: 50%;
	position: relative;
	left: 25%;
}

.flex {
	
	display: flex;
	flex-direction: row;
	width: 75%;
	
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.flexbox {
	position: relative;
	left: 20%;
	width: 40%;
	text-align: center;
	margin: center;
	justify-content: center;
	align-items: center;

}

@media only screen and (max-width: 768px) {
    .flex {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	
	.flexbox {
		width: 75%;
	}
	
}

